<html>
  <head>
    <meta charset="UTF-8">
    <title>basyo</title>
  </head>
  <body>
  <header class="update-header">
    <h1 class="update-header-logo">
      投稿が完了しました
    </h1>
  </header>
  <div class="update-main">
    <%= link_to "投稿一覧へ戻る", "/posts"%>
  </body>
</html>